.eighth-task-wrapper
    img
        margin: 1rem auto
        height: auto
        display: block
        width: 100%
        max-width: 1000px
    .code-example
        background:#1E1E1E
        padding: 0.1rem 0.2rem
        border-radius: 8px
        color: #4FC1E8 
        font-weight: 600