.nineth-task-wrapper
    img
        margin: 1rem auto
        height: auto
        display: block
        width: 100%
        max-width: 1000px
.photo-wrapper
    display: flex
    justify-content: space-around
    .animator-photo-explain
        display: flex
        justify-content: center
        max-width: 700px
.final-task-animation
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    ol
        padding: 0.1rem 2rem
        border-radius: 8px
        background: #fdefee
        max-width: 500px
@media (max-width:480px)
    .photo-wrapper
        flex-direction: column