.page-wrapper
    display: flex
    justify-content: center

.page-container
    display: flex
    min-height: 100vh
    margin: 1rem 0
    border-radius: 16px
    width: 80%
    flex-direction: column
    background: #fbfcff
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)

.title-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.page-content
    display: flex
    min-height: 90vh
    justify-content: center

.button-container
    background: #4285F4
    color: #fff
    border: 0
    border-radius: 8px
    cursor: pointer
    box-shadow: 0 0 8px #174EA640
    padding: 0.6rem 1.5rem
    transition: 0.4s all
    font-weight: 600
    font-size: 20px
    width: 200px
.download-button
    width: 125px

.page-controls
    display: flex
    justify-content: space-between
    margin: 1rem
    button
        
        &:hover
            transform: translateY(-2px)
            box-shadow: 0 0 8px #174EA6AA
        &:disabled
            
    p
        font-family: 'Montserrat', 'Segoe UI', 'Helvetica', 'Tahoma', sans-serif
        font-size: 20px
        font-weight: 600

.page-content
    margin: 0 5rem
    font-size: 21px
    text-align: justify
    .content
        img
            border: 2px solid #5A5B5D
            border-radius: 8px
        hr
            width: 100%

        .main-page-conclusion
            background: #F3F3F3
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 1rem 0
            padding: 1.5rem
            border-radius: 16px
                
        .main-page-img
            img
                margin: 1rem auto
                height: auto
                display: block
                width: 100%
                max-width: 600px  

        .first-task-container
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            img
                margin: 1rem auto
                height: auto
                display: block
                width: 100%
                max-width: 1400px
            p
                padding: 0.2rem 0.4rem
                border-radius: 8px
                background: #F1F3F4
                
        .second-task-container
            display: flex
            justify-content: center
            flex-direction: column
            img
                margin: 1rem auto
                height: auto
                display: block
                width: 100%
                max-width: 1400px

            .first-section
                margin-top: 1rem
                display: flex
                .section-item
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    margin: 0 1rem
                    background: #F3F3F3
                    border-radius: 16px
                    img
                        max-width: 400px
                        max-height: 800px
                    p
                        background: #CFE2F3
                        padding: 0.3rem 0.4rem
                        border-radius: 8px        
        
    .subtitle
        font-size: 30px

