.page-content
    .content
        .third-task-container
            display: flex
            align-items: center
            flex-direction: column
            img
                margin: 1rem auto
                height: auto
                display: block
                width: 100%
                max-width: 1000px
            .explain-functions
                border-radius: 8px
                padding: 0.3rem 0.4rem
                background: #CFE2F3                    