$code-bg: #1E1E1E
$code-text: #DCDCDC
$code-border: lighten($code-bg, 10%)

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap')
.page-content
    .content
        .third-task-container
            display: flex
            align-items: center
            flex-direction: column
            img
                margin: 1rem auto
                height: auto
                display: block
                width: 100%
                max-width: 1000px
            .explain-functions
                border-radius: 8px
                padding: 0.3rem 0.4rem
                background: #CFE2F3

        

            .serialize-pic
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                p
                    background: #CEEAD6
                    max-width: 800px
                    border-radius: 8px
                    padding: 0.4rem 2rem
                img
                    max-width: 550px
        .special-tip
            background: #F4CCCC
            padding: 0.4rem
            border-radius: 8px
        .special-advice-for-task
            background: #CEEAD6
            margin-bottom: 1rem
            border-radius: 16px
            padding: 0 0.8rem
            max-width: 800px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        .special-tip-for-task
            max-width: 800px
            background: #CFE2F3
            border-radius: 8px
            padding: 0.1rem 0.8rem
            margin-bottom: 1rem

@media (max-width: 480px)
    .page-content
        .content
            .code-section
                .code-sample
                    span
                        font-size: 14px