// menu section

// header-section
.header-container
    background: #1E293B
    display: flex
    justify-content: space-around
    height: 30%

.right-container
    display: flex

    .sub-right-container
        display: flex
        flex-direction: row
        margin: .5rem 0
        gap: 1.5rem
        button
            background: #BBC8DB
            color:  #202124
            padding: 0.4rem 1rem
            border-radius: 16px
            border: 0
            cursor: pointer
            font-size: 20px
.title-container
    height: 100%
    display: flex
    h2
        color: #e4ebf5